<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.manage.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.team.manage.entity.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="work_number" jdbcType="VARCHAR" property="workNumber" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mobile_no" jdbcType="VARCHAR" property="mobileNo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />
    <result column="user_flag" jdbcType="INTEGER" property="userFlag" />
    <result column="invalid_flag" jdbcType="INTEGER" property="invalidFlag" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="personal_resume" jdbcType="VARCHAR" property="personalResume" />
    <result column="user_auth" jdbcType="VARCHAR" property="userAuth" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <sql id="Base_Column_List">
    id, work_number, user_name, account, password, mobile_no, email, idcard, sex, birthday, 
    dept_code, dept_name, post_code, post_name, user_flag, invalid_flag, login_time, 
    personal_resume, user_auth, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_manage_user
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_manage_user
    where id = #{id}
  </delete>

  <insert id="insert" parameterType="com.team.manage.entity.UserDTO">
    insert into t_manage_user (id, work_number, user_name, 
      account, password, mobile_no, 
      email, idcard, sex, 
      birthday, dept_code, dept_name, 
      post_code, post_name, user_flag, 
      login_time, personal_resume,
      user_auth, create_time, update_time
      )
    values (#{id}, #{workNumber}, #{userName}, 
      #{account}, #{password}, #{mobileNo}, 
      #{email}, #{idcard}, #{sex}, 
      #{birthday}, #{deptCode}, #{deptName}, 
      #{postCode}, #{postName}, #{userFlag}, 
      #{loginTime}, #{personalResume},
      #{userAuth}, #{createTime}, #{updateTime}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.team.manage.entity.User">
    insert into t_manage_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workNumber != null">
        work_number,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="mobileNo != null">
        mobile_no,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="postCode != null">
        post_code,
      </if>
      <if test="postName != null">
        post_name,
      </if>
      <if test="userFlag != null">
        user_flag,
      </if>
      <if test="invalidFlag != null">
        invalid_flag,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="personalResume != null">
        personal_resume,
      </if>
      <if test="userAuth != null">
        user_auth,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="workNumber != null">
        #{workNumber},
      </if>
      <if test="userName != null">
        #{userName},
      </if>
      <if test="account != null">
        #{account},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="mobileNo != null">
        #{mobileNo},
      </if>
      <if test="email != null">
        #{email},
      </if>
      <if test="idcard != null">
        #{idcard},
      </if>
      <if test="sex != null">
        #{sex},
      </if>
      <if test="birthday != null">
        #{birthday},
      </if>
      <if test="deptCode != null">
        #{deptCode},
      </if>
      <if test="deptName != null">
        #{deptName},
      </if>
      <if test="postCode != null">
        #{postCode},
      </if>
      <if test="postName != null">
        #{postName},
      </if>
      <if test="userFlag != null">
        #{userFlag},
      </if>
      <if test="invalidFlag != null">
        #{invalidFlag},
      </if>
      <if test="loginTime != null">
        #{loginTime},
      </if>
      <if test="personalResume != null">
        #{personalResume},
      </if>
      <if test="userAuth != null">
        #{userAuth},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.team.manage.entity.User">
    update t_manage_user
    <set>
      <if test="workNumber != null">
        work_number = #{workNumber},
      </if>
      <if test="userName != null">
        user_name = #{userName},
      </if>
      <if test="account != null">
        account = #{account},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="mobileNo != null">
        mobile_no = #{mobileNo},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="idcard != null">
        idcard = #{idcard},
      </if>
      <if test="sex != null">
        sex = #{sex},
      </if>
      <if test="birthday != null">
        birthday = #{birthday},
      </if>
      <if test="deptCode != null">
        dept_code = #{deptCode},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName},
      </if>
      <if test="postCode != null">
        post_code = #{postCode},
      </if>
      <if test="postName != null">
        post_name = #{postName},
      </if>
      <if test="userFlag != null">
        user_flag = #{userFlag},
      </if>
      <if test="invalidFlag != null">
        invalid_flag = #{invalidFlag},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime},
      </if>
      <if test="personalResume != null">
        personal_resume = #{personalResume},
      </if>
      <if test="userAuth != null">
        user_auth = #{userAuth},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.team.manage.entity.User">
    update t_manage_user
    set work_number = #{workNumber},
      user_name = #{userName},
      account = #{account},
      password = #{password},
      mobile_no = #{mobileNo},
      email = #{email},
      idcard = #{idcard},
      sex = #{sex},
      birthday = #{birthday},
      dept_code = #{deptCode},
      dept_name = #{deptName},
      post_code = #{postCode},
      post_name = #{postName},
      user_flag = #{userFlag},
      invalid_flag = #{invalidFlag},
      login_time = #{loginTime},
      personal_resume = #{personalResume},
      user_auth = #{userAuth},
      create_time = #{createTime},
      update_time = #{updateTime}
    where id = #{id}
  </update>

  <select id="getUser" parameterType="com.team.manage.entity.UserDTO" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List"/>
      FROM
        t_manage_user
      WHERE
        1 = 1
    <if test="workNumber != null and workNumber !=''">
       AND work_number = #{workNumber}
    </if>
    <if test="userName != null and userName !=''">
      AND user_name = #{userName}
    </if>
    <if test="account != null and account != ''">
      AND account = #{account}
    </if>
    <if test="password != null and password != ''">
      AND password = #{password}
    </if>
    <if test="mobileNo != null and mobileNo != ''">
      AND mobile_no = #{mobileNo}
    </if>
    <if test="email != null and email !=''">
      AND email = #{email}
    </if>
    <if test="idcard != null and idcard != ''">
      AND idcard = #{idcard}
    </if>
    <if test="sex != null">
      AND sex = #{sex}
    </if>
    <if test="birthday != null and birthday !=''">
      AND birthday = #{birthday}
    </if>
    <if test="deptCode != null and deptCode != ''">
      AND dept_code = #{deptCode}
    </if>
    <if test="deptName != null and deptName != ''">
      AND dept_name = #{deptName}
    </if>
    <if test="postCode != null and postCode != ''">
      AND post_code = #{postCode}
    </if>
    <if test="postName != null and postName != ''">
      AND post_name = #{postName}
    </if>
    <if test="userFlag != null">
      AND user_flag = #{userFlag}
    </if>
  </select>
</mapper>