<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.manage.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.team.manage.entity.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="work_number" jdbcType="VARCHAR" property="workNumber" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mobile_no" jdbcType="VARCHAR" property="mobileNo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="post_name" jdbcType="VARCHAR" property="postName" />
    <result column="user_flag" jdbcType="INTEGER" property="userFlag" />
    <result column="invalid_flag" jdbcType="INTEGER" property="invalidFlag" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="personal_resume" jdbcType="VARCHAR" property="personalResume" />
    <result column="user_auth" jdbcType="VARCHAR" property="userAuth" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <sql id="Base_Column_List">
    id, work_number, user_name, account, password, mobile_no, email, idcard, sex, birthday, 
    dept_code, dept_name, post_code, post_name, user_flag, invalid_flag, login_time, 
    personal_resume, user_auth, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_manage_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_manage_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.team.manage.entity.User">
    insert into t_manage_user (id, work_number, user_name, 
      account, password, mobile_no, 
      email, idcard, sex, 
      birthday, dept_code, dept_name, 
      post_code, post_name, user_flag, 
      invalid_flag, login_time, personal_resume, 
      user_auth, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{workNumber,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{mobileNo,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{birthday,jdbcType=TIMESTAMP}, #{deptCode,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=VARCHAR}, #{postName,jdbcType=VARCHAR}, #{userFlag,jdbcType=INTEGER}, 
      #{invalidFlag,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}, #{personalResume,jdbcType=VARCHAR}, 
      #{userAuth,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.team.manage.entity.User">
    insert into t_manage_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workNumber != null">
        work_number,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="mobileNo != null">
        mobile_no,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="postCode != null">
        post_code,
      </if>
      <if test="postName != null">
        post_name,
      </if>
      <if test="userFlag != null">
        user_flag,
      </if>
      <if test="invalidFlag != null">
        invalid_flag,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="personalResume != null">
        personal_resume,
      </if>
      <if test="userAuth != null">
        user_auth,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="workNumber != null">
        #{workNumber,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null">
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postName != null">
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="userFlag != null">
        #{userFlag,jdbcType=INTEGER},
      </if>
      <if test="invalidFlag != null">
        #{invalidFlag,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="personalResume != null">
        #{personalResume,jdbcType=VARCHAR},
      </if>
      <if test="userAuth != null">
        #{userAuth,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.team.manage.entity.User">
    update t_manage_user
    <set>
      <if test="workNumber != null">
        work_number = #{workNumber,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null">
        mobile_no = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="deptCode != null">
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="postName != null">
        post_name = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="userFlag != null">
        user_flag = #{userFlag,jdbcType=INTEGER},
      </if>
      <if test="invalidFlag != null">
        invalid_flag = #{invalidFlag,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="personalResume != null">
        personal_resume = #{personalResume,jdbcType=VARCHAR},
      </if>
      <if test="userAuth != null">
        user_auth = #{userAuth,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.team.manage.entity.User">
    update t_manage_user
    set work_number = #{workNumber,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      mobile_no = #{mobileNo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      dept_code = #{deptCode,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      post_code = #{postCode,jdbcType=VARCHAR},
      post_name = #{postName,jdbcType=VARCHAR},
      user_flag = #{userFlag,jdbcType=INTEGER},
      invalid_flag = #{invalidFlag,jdbcType=INTEGER},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      personal_resume = #{personalResume,jdbcType=VARCHAR},
      user_auth = #{userAuth,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>